Connect to Oracle Database by using Python

In [5]:
import cx_Oracle

In [6]:
dsn_tns = cx_Oracle.makedsn('localhost', '1521', service_name='xe')

In [9]:
conn=cx_Oracle.connect(user='system', password='system', dsn=dsn_tns)

In [10]:
#Cursor is used to execute statements to communicate with the MySQL database.
#Allows Python code to execute commands in a database session.
c=conn.cursor()
c.execute('select * from user1.emp')

In [11]:
r=c.fetchone()
print(r)

(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)

In [12]:
r=c.fetchall()
print(r)

[(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1982, 12, 9, 0, 0), 3000.0, None, 20), (7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20), (7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30), (7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1983, 1, 12, 0, 0), 1100.0, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30), (7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)]

In [17]:
c.execute(r"select * from user1.emp where ename='KING'")
result = c.fetchall()
print(result)

[(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)]

In [18]:
c.execute("select count(*) from user1.emp")
#The fetchone() method will return the first row of the result:
count, = c.fetchone()
print(count)

14

In [19]:
# print some details about the connection and the library
print("Database version:", conn.version)
print("Oracle Python version:", cx_Oracle.version)

Database version: 11.2.0.2.0
Oracle Python version: 8.3.0