# List Comprehension

Comprehensions provide us with a short and concise way to construct new sequences 
(such as lists, set, dictionary etc.) 
4 types of comprehensions:
**************************
List Comprehensions
Dictionary Comprehensions
Set Comprehensions
Generator Comprehensions

[x for item in iterable]
[x for item in iterable if conditional]
[x for item in iterable if conditional else]

In [3]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [6]:
r=[i**2 for i in range(10)]
print(r)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
#l=[1,2,3,4,5,6]
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [8]:
r=[i for i in range(10) if i%2==0]
print(r)

[0, 2, 4, 6, 8]

In [36]:
l=[1,2,3,4,5,6]
new=[]
for i in l:
    if i%2==0:
        new.append(i**2)
print(new)

[4, 16, 36]

In [21]:
l=[1,2,3,4,5,6]
r=[i**2 for i in l if i%2==0]
print(r)

[4, 16, 36]

In [28]:
l=[1,2,3,4,5,6]
new={}
for i in l:
    if i%2==0:
        new[i]=(i**2)
print(new)

{2: 4, 4: 16, 6: 36}

In [32]:
r={i:i**2 for i in l if i%2==0}
print(r)

{2: 4, 4: 16, 6: 36}

In [43]:
l=[1,2,3,4,5,6]
new=set()
for i in l:
    if i%2==0:
        new.add(i**2)
print(new)

{16, 4, 36}

In [42]:
l=[1,2,3,4,5,6]
new=[]
for i in l:
    if i%2==0:
        new.append(i**2)
print(set(new))

{16, 4, 36}

In [35]:
r={i**2 for i in l if i%2==0}
print(r)

{16, 4, 36}

In [44]:
l=(1,2,3,4,5,6)
new=[]
for i in l:
    if i%2==0:
        new.append(i**2)
print(new)

[4, 16, 36]

In [46]:
r=(i**2 for i in l if i%2==0)
print(r)
for i in r:
    print(i)

<generator object <genexpr> at 0x0000020085313F20>
4
16
36

In [47]:
l=(1,2,3,4,5,6)
r=["Even" if i%2==0 else "odd" for i in range(10)]
print(r)

['Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

In [49]:
state = ['Andhra', 'Goa', 'Telangana']
capital = ['Amaravati', 'Panaji', 'Hyderabad']
  
out_dict = {}
  
for (key, value) in zip(state, capital):
    out_dict[key] = value
  
print("Dictionary using for loop:",out_dict)

Dictionary using for loop: {'Andhra': 'Amaravati', 'Goa': 'Panaji', 'Telangana': 'Hyderabad'}

In [48]:
state = ['Andhra', 'Goa', 'Telangana']
capital = ['Amaravati', 'Panaji', 'Hyderabad']
  
dict_comp = {key:value for (key, value) in zip(state, capital)}
  
print("Using dictionary comprehensions:", dict_comp)

Using dictionary comprehensions: {'Andhra': 'Amaravati', 'Goa': 'Panaji', 'Telangana': 'Hyderabad'}

In [52]:
m=[[1,2],[2,3],[4,5],[5,6]]
r=[[row[i] for row in m] for i in range(2)]
print(r)

[[1, 2, 4, 5], [2, 3, 5, 6]]