# Nested Loops

Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

Steps to Print Pattern in Python
--------------------------------
Decide the number of rows and columns
The outer loop tells us the number of rows, and the inner loop tells us the column needed to print the pattern.

Iterate rows
Next, write an outer loop to Iterate the number of rows using a for loop and range() function.

Iterate columns
Next, write the inner loop or nested loop to handle the number of columns. The internal loop iteration depends on the values of the outer loop.

Print star or number
Use the print() function in each iteration of nested for loop to display the symbol or number of a pattern (like a star (asterisk *) or number).

Add new line after each iteration of outer loop
Add a new line using the print() function after each iteration of the outer loop so that the pattern display appropriately

In [ ]:
for i range(10):  - Outer loop
    for j range(8): - Inner loop

In [18]:
color=["white","Green","Blue"]
Lang=["Java","Python","SAS"]

for i in color:
    for j in Lang:
        print(i,j)

white Java
white Python
white SAS
Green Java
Green Python
Green SAS
Blue Java
Blue Python
Blue SAS

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
for i in range(5):
    print(i,end=' ')

0 1 2 3 4

In [14]:
r=5
for i in range(r):
    for j in range(i):
        print(i,end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4

In [15]:
for i in range(1,5):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [21]:
for i in range(1,5):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *

In [29]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [34]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [35]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print('$',end=' ')
    print()

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [37]:
for i in range(5,0,-1):
    for j in range(0,i):
        print(j,end=' ')
    print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [41]:
for i in range(1,3):
    for j in range(1,11):
        print('%d*%d=%d' %(i,j,(i*j)))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20