#Loops

For loop
------------
For loops essentially perform the same task as while loops, they tend to focus 
on iterating a set number of times. For loops are great when you want to go 
through a list and look at every single element.

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more 
like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, 
tuple, set etc.

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [64]:
for i in range(4):
    print(i)

r = list(range(4))
print(r)

0
1
2
3
[0, 1, 2, 3]

In [4]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [58]:
l=['a','b','c']
for i in l:
    print(i)

a
b
c

In [68]:
l=['a','b','c']
for i in range(len(l)):
    print(i)

0
1
2

In [24]:
l=[1,2,3,4]
s=1
for i in l:
    s=s*i
    print(s)

1
2
6
24

In [25]:
l=[1,2,3,4]
s=1
for i in l:
    s=s*i
print(s)

24

In [26]:
name = input('enter student name: ')
age = int(input('enter student num: '))

enter student name: raghu
enter student num: 4

In [27]:
l=[1,2,3,4,5,6,7]
for i in l:
    if(i%2)!=0:
        print(i)

1
3
5
7

In [28]:
l=[1,2,3,4,5,6,7]
for i in l:
    if(i%2)==0:
        print(i)

2
4
6

In [ ]:
l=[1,2,3,4,5,6,7]
for i in l:
    if(i%2)!=0:
        print("Even",i)
    else:
        print("Odd",i)

In [42]:
for i in range(10):
      pass

In [37]:
#l=[1,2,3,4,5,6,7]
for i in range(10):
    if(i==3):
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [40]:
for i in range(1,10):
    if(i==8):
        break
    print("Tickets Finished", i)

Tickets Finished 1
Tickets Finished 2
Tickets Finished 3
Tickets Finished 4
Tickets Finished 5
Tickets Finished 6
Tickets Finished 7

In [52]:
numbers = [1,2,3,40,50]
c=5
for i in numbers:
    if(i>c):
        print("Tickets Housefull")
        break
    print(i)

1
2
3
Tickets Housefull

In [1]:
x=int(input("How many tickets you want:"))  

c=5
for i in range(1,10):
    if(i>c):
        print("Tickets Housefull")
        break
    print(i)

How many tickets you want:6
1
2
3
4
5
Tickets Housefull

In [4]:
#I used an underscore for the variable name because we don't need to access it.
my_list = []

for _ in range(3):
    my_list.append(input('Enter a country: '))

print(my_list)

Enter a country: 1
Enter a country: 2
Enter a country: 3
['1', '2', '3']

In [3]:
my_list = []

for _ in range(3):
    try:
        my_list.append(int(input('Enter a number: ')))
    except ValueError:
        print('The provided value is not an integer')

print(my_list)

Enter a number: 1
Enter a number: 3
Enter a number: 5
[1, 3, 5]

In [70]:
#import sys;
sums=0.0;
k=3;
for w in range(k):
    sums = sums + float(input("Pleas input number " + str(w+1) + " "));  #try using without float
print("the media is " + str(sums/k) + " and the Sum is " + str(sums));

Pleas input number 1 5
Pleas input number 2 5
Pleas input number 3 5
the media is 5.0 and the Sum is 15.0

In [ ]:
sums=0.0
k=3
for w in range(k):
    try:
        sums = sums + float(input("Pleas input number " + str(w+1) + " "))
    except ValueError:
        print("Invalid Input")
print("the media is " + str(sums/k) + " and the Sum is " + str(sums))

In [71]:
import sys
sums=0.0
k=3
for w in range(k):
    while True:
        try:
            sums += float(input("Pleas input number " + str(w+1) + " "))
            break
        except ValueError:
            print("That was not a number")
print("the media is " + str(sums/k) + " and the Sum is " + str(sums))

Pleas input number 1 r
That was not a number
Pleas input number 1 1
Pleas input number 2 f
That was not a number
Pleas input number 2 5
Pleas input number 3 6
the media is 4.0 and the Sum is 12.0